    <dx-form >
      <dxi-item itemType="group" [colCount]="1">
        <dxi-item itemType="group">
          <dxi-item name="txtOutputID" dataField="outid" caption="ID" editorType="dxTextBox" [editorOptions]="{readOnly: true}"></dxi-item>
          <dxi-item name="txtIndikator" dataField="indikator" caption="Indikator" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail, height: 90}" [validationRules]="[{type: 'required', message: 'Misi harus diisi' }]"></dxi-item>
          <dxi-item name="txtNilai" dataField="nilai" caption="Nilai" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Urutan harus diisi' }]"></dxi-item>
          <dxi-item name="txtRkap" dataField="rkapid" caption="RKAP" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail, height: 90}" [validationRules]="[{type: 'required', message: 'Misi harus diisi' }]"></dxi-item>
          <dxi-item name="txtSatuan" dataField="satuanid" caption="Satuan" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Urutan harus diisi' }]"></dxi-item>
        </dxi-item>
        <dxi-item itemType="group">
          <dxi-item itemType="empty"></dxi-item>
        </dxi-item>
      </dxi-item>
    </dx-form>