<!-- <div *ngIf="addVisible"> -->
  <form action="Submit" (submit)="save($event)">
    <dx-button *ngIf="!isDetail" icon="fa fa-ban" text="Cancel" type="danger" (onClick)="cancel()"></dx-button>
    <dx-button *ngIf="!isDetail" class="pull-right" icon="fa fa-save" text="Save" type="success" validationGroup="roleData" [useSubmitBehavior]="true">
    </dx-button>

    <!-- class="m-2" => add margin by 0.5rem -->
    <div class="m-2"></div>
    <p style="border-top: 1px rgb(196, 196, 196) solid; padding: 0px; margin: 0px;"></p>
    <div class="m-2"></div>

    <dx-form [(formData)]="role" validationGroup="roleData">
      <dxi-item itemType="group" [colCount]="2">
        <dxi-item itemType="group">
          <!-- <dxi-item name="txtRJPPID" dataField="rkapid" caption="RKAP ID" editorType="dxTextBox" [editorOptions]="{readOnly: true}"></dxi-item>
          
          <dxi-item name="rjppid" dataField="rjppid" caption="rjppid" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item> -->
          <dxi-item name="sid" dataField="sid" caption="sid" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
          <dxi-item name="prkid" dataField="prkid" caption="prkid" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
          <dxi-item name="no_prk" dataField="no_prk" caption="no_prk" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
          <dxi-item name="program_kerja" dataField="program_kerja" caption="program_kerja" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
          <dxi-item name="deskripsi" dataField="deskripsi" caption="deskripsi" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
          <dxi-item name="jenis_anggaran" dataField="jenis_anggaran" caption="jenis_anggaran" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
          <dxi-item name="tipe_rkap" dataField="tipe_rkap" caption="tipe_rkap" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
          <dxi-item name="no_kontrak_existing" dataField="no_kontrak_existing" caption="no_kontrak_existing" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
          <dxi-item name="tgl_akhir_kontrak" dataField="tgl_akhir_kontrak" caption="tgl_akhir_kontrak" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
          <dxi-item name="nilai_kontrak" dataField="nilai_kontrak" caption="nilai_kontrak" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message:'Keterangan harus diisi' }]"></dxi-item>
          <dxi-item name="usulan_anggaran" dataField="usulan_anggaran" caption="usulan_anggaran" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
          <dxi-item name="gid" dataField="gid" caption="gid" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
          <dxi-item name="prioritas" dataField="prioritas" caption="prioritas" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
          <dxi-item name="tgl_usulan" dataField="tgl_usulan" caption="tgl_usulan" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
          <dxi-item name="usulan_oleh" dataField="usulan_oleh" caption="usulan_oleh" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
          <dxi-item name="tgl_update" dataField="tgl_update" caption="tgl_update" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
          <dxi-item name="update_by" dataField="update_by" caption="update_by" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
          <dxi-item name="deleted_date" dataField="deleted_date" caption="deleted_date" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
          <dxi-item name="deleted_by" dataField="deleted_by" caption="deleted_by" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
          <dxi-item name="tgl_approve_gm" dataField="tgl_approve_gm" caption="tgl_approve_gm" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
          <dxi-item name="approved_by" dataField="approved_by" caption="approved_by" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
          <dxi-item name="tgl_review_renko" dataField="tgl_review_renko" caption="tgl_review_renko" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
          <dxi-item name="review_renko_by" dataField="review_renko_by" caption="review_renko_by" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
          <dxi-item name="tgl_review_risk" dataField="tgl_review_risk" caption="tgl_review_risk" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
          <dxi-item name="risk_review_by" dataField="risk_review_by" caption="risk_review_by" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
        </dxi-item>

        <dxi-item itemType="group">
            <dxi-item name="no_io" dataField="no_io" caption="no_io" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
            <dxi-item name="tgl_approve_finance" dataField="tgl_approve_finance" caption="tgl_approve_finance" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
            <dxi-item name="approve_finance_by" dataField="approve_finance_by" caption="approve_finance_by" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
            <dxi-item name="no_usulan_rkap" dataField="no_usulan_rkap" caption="no_usulan_rkap" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
            <dxi-item name="status" dataField="status" caption="status" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
            <dxi-item name="plan_tgl_spp" dataField="plan_tgl_spp" caption="plan_tgl_spp" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
            <dxi-item name="plan_tgl_mulai" dataField="plan_tgl_mulai" caption="plan_tgl_mulai" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
            <dxi-item name="plan_tgl_akhir" dataField="plan_tgl_akhir" caption="plan_tgl_akhir" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
            <dxi-item name="indikator_outcome" dataField="indikator_outcome" caption="indikator_outcome" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
            <dxi-item name="lokasi" dataField="lokasi" caption="lokasi" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
            <dxi-item name="rkap_nonrkap" dataField="rkap_nonrkap" caption="rkap_nonrkap" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
            <dxi-item name="deptid" dataField="deptid" caption="deptid" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
            <dxi-item name="jenis_oca" dataField="jenis_oca" caption="jenis_oca" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
            <dxi-item name="nilai_rkap" dataField="nilai_rkap" caption="nilai_rkap" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
            <dxi-item name="nilai_released" dataField="nilai_released" caption="nilai_released" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
            <dxi-item name="nilai_penyerapan" dataField="nilai_penyerapan" caption="nilai_penyerapan" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
            <dxi-item name="nilai_sisa" dataField="nilai_sisa" caption="nilai_sisa" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
            <dxi-item name="no_final_rkap" dataField="no_final_rkap" caption="no_final_rkap" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
            <dxi-item name="tgl_approve_spkk" dataField="tgl_approve_spkk" caption="tgl_approve_spkk" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
            <dxi-item name="approve_spkk_by" dataField="approve_spkk_by" caption="approve_spkk_by" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'require', message: 'Keterangan harus diisi' }]"></dxi-item>
            <dxi-item name="tgl_approve_dir" dataField="tgl_approve_dir" caption="tgl_approve_dir" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
            <dxi-item name="dir_approve_by" dataField="dir_approve_by" caption="dir_approve_by" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
            <dxi-item name="mata_uang_kontrak" dataField="mata_uang_kontrak" caption="mata_uang_kontrak" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
            <dxi-item name="riskid" dataField="riskid" caption="riskid" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
            <dxi-item name="mata_uang" dataField="mata_uang" caption="mata_uang" editorType="dxTextBox" [editorOptions]="{readOnly: isDetail}" [validationRules]="[{type: 'required', message: 'Keterangan harus diisi' }]"></dxi-item>
          </dxi-item>
        <dxi-item itemType="group">
          <dxi-item itemType="empty"></dxi-item>
        </dxi-item>
      </dxi-item>
    </dx-form>
    <!-- <br>
    <p>Menu Access :</p> -->
    <dx-tree-list
      [dataSource]="menuTree"
      itemsExpr="items"
      keyExpr="menuId"
      parentIdExpr="menuParent"
      [showRowLines]="true"
      [columnAutoWidth]="true"
      [rowAlternationEnabled]="true"
      autoExpandAll="true"
      (onToolbarPreparing)="toolbarPreparing($event)"
      (onCellClick)="cellClick($event)"
      (onRowUpdated)="rowUpdated($event)">
      <dxo-editing
        mode="batch"
        [allowAdding]="false"
        [allowUpdating]="!isDetail"
        [allowDeleting]="false">
      </dxo-editing>
      <!-- <dxi-column dataField="text" caption="Menu" [allowEditing]="false"></dxi-column>
      <dxi-column dataField="read"></dxi-column>
      <dxi-column dataField="write"></dxi-column> -->
    </dx-tree-list>
    <!-- <app-form-confirmation [isSave]="isSave" [isCancel]="isCancel" [confVisible]="confVisible" (onYesConf)="save()" (onHideConf)="onHideConf()"
      (onSaveConf)="onSaveConf()" (onCancelConf)="onCancelConf()"></app-form-confirmation> -->
  </form>
<!-- </div> -->
